High-Level-User-Requirements:
- Ersatz von Spritzen
- Regelung des Blutzuckerhaushalts
- Portables Geräte -> Langanhaltender Akku
- Immer und einfach bedienbar -> evtl. kalibrierbar, einfach nachfüllbar
- Alarm bei kritischem Zustand (Zuckerwert, Gerätefunktion)


System requirements:
	Functional requirements:
	- Messen des Blutzuckers
	- Anhand der Messung, Entscheid ob und wenn wieviel Insulin benötigt wird
	- Abgabe von berechneter Menge Insulin
	- Möglichkeit zum Kalibrieren
	- Möglichkeit zum Nachfüllen
	- Meldung, wenn Akku oder Insulin leer
	- Reporting


	Non-functional requirements:
	- Portabilität (Grösse und Gewicht genau angeben)
	- Auswechselbare Batterie
	- Einfache Bedienbarkeit (im Alltag) -> auch langer Akku
	- Einfaches Nachfüllen, z.B. mit Dosen
	- Belastbar (Wasser, Schweiss, Sport...)


	Domain requirements:
	- Medizinische Richtlinien (Steril,...)